.header {
    padding-top: 1rem;
    padding-left: 2.5rem;
}

.listaConjunta {
    display: flex;
}

.ulHeader {
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding-left: 5rem;
}

.ulHeaderListaLink {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.ulHeaderListaLink:hover {
    text-decoration: underline;
}

.ulHeaderIcones {
    display: flex;
    gap: 20px;
    padding-left: 50rem;
    list-style-type: none;
    gap: 30px;
}