.header {
    padding-top: 1rem;
    padding-left: 2.5rem;
}

.listaConjunta {
    display: flex;
}

.ulHeader {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.ulHeaderListaLink {
    color: #fff;
}

.ulHeaderIcones {
    display: flex;
}